.delivery{
    background-color: #fff;
}
.top-buttons{
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 5em;
}

.top-buttons .btn-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.top-buttons .btn-wrap input{
    width: 100% !important;
}

.top-buttons #exampleSelect{
    max-width: 10em !important;
}

.info-wrap{
    background-color: #fff;
}

i.circle{
    font-size: .8em;
}

.order-status-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.order-status{
    width: 100%;
    border: 1px solid #000;
    padding: 3em;
}

.list-group li{
    display: flex !important;
    justify-content: space-between;
}